/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*beginning of my stylsheet main navigation*/

html {
  
  font-family: Arial, Geneva, Helvetica, sans-serif;
  height: 100%;
  
}

body{
  overflow: auto;
  background: url("pictures/barry-zhou-khjwIW9HH5s-unsplash2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

header {
  color: #181818;
  background-color: rgb(66, 76, 85, 0.25);
  font-size: 2rem;
}

/* Style the tab */
.tab {
  display: flex;
  width: 100%;
  margin: 7px;
  text-align: center;
  padding:15px;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  flex:1;
  border:none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-weight: 700;
  float: right;
  width: 200px;
  transition: 0.5s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:inherit;
  color:white;
}

.tab #title {
  flex:3;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
}





/* Begin Styling of About Page*/

.aboutPage{
  display:flex;
  flex-direction: column;
}

.aboutContent{
  display:flex;
  flex-direction: row;
  border: 5px solid rgb(66, 76, 85, 0.15);
}

.aboutImage{
  flex:1
}

.aboutText{
  flex:3;
  padding: 15px;
}
.aboutText, h2{
  font-size: 2rem;
}
.aboutText, p{
  font-size: 1.5rem;
}

/* Begin Styling of Bakerbuck Bank Page */
.bbbmaincontainer{
  background-image: url("pictures/MaxPixel.net-Windows-Building-Architecture-washedout.jpg");
  background-repeat: repeat-y;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.bbbLeftColumn{
  flex:1;
  width: 20%;
  background-color:  rgba(66, 76, 85, 0.25);
  border-radius: 20 px;
  display: flex;
  flex-direction: column;
  
}
.BBBLogo{
  border: 5px solid #6e98f1;
  border-radius: 20px;
}
/* BBB Make a Main Page*/
.bbbLeftColumn button{
  
  background-color:#6e98f1;
  width:80%;
  height: 10%;
  color:black;
  margin:10px 10px 10px 30px;
  font-size: 1.5rem;
  border: 5px solid rgba(27, 31, 35, .25);
  border-radius: 5px;
}

.bbbLeftColumn button:hover{
  background-color:#b6c5e4;
}

.bbbLeftColumn img{
  max-width: 100%;
  height: auto;
}

.bbbMainContent{
  flex: 3;
}
.bbbMainContent h1{
  margin: 30px 30px 50px 30px;
  font-size: 2rem;
}
.depositpaymentcontent{
  background-color: rgba(66, 76, 85, 0.5);
  padding: 10px 0px;
}
.listOfTransactionsTextBox{
  background-color: rgba(66, 76, 85, 0.5);
  padding:10px;
  border-radius: 5px;
  margin: 0px 40px;
}
.currentBalanceTextBox{
  background-color: rgba(66, 76, 85, 0.5);
  margin: 0px 40px;
  padding: 10px;
  border-radius: 5px;
}
/* BBB Make a Payment Page*/
.dropdown{
  font-size: 1.5rem;
  margin: 50px;
}
#paymentTypes{
  font-size: 1.5rem;
  padding: 0px 20px;
}

.amountInputForm{
  margin-left:30px;
}

.adminMaincontent{
  padding:20px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(66, 76, 85, 0.5);
}

a {
  display: inline-block;
  margin: 30px 0px 30px 210px;
}

.inputForm, option,select,input{
  font: inherit;
  font-size: 1.5rem;
  margin-left: 30px;
}
option,select,input{
  width:250px;
}

.submitbutton {
  background-color:#6e98f1;
  margin-left: 100px;
  font-size: 1.5rem;
}
.page1text {
  color: #000;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

/* Begin Styling of Othello Page */



.othelloContent {
  
  padding-left: 20px;
  display:flex;
  
}


.othelloLeftSide{
  flex:1;
  display: flex;
  flex-direction: column;
}

.othelloRightSide{
  flex:1;
  
}

.othelloHeader {
  font-size:2rem;
  padding: 0.5rem;
  
}

.othelloDisplay{
  background-color:rgba(66, 76, 85, 0.65);
  margin-right: 20px; 
  border-radius: 20px;
}

.othelloDisplay,h3{
  padding: 10px 20px;
  font-size: 1.5rem;

  
}
.othelloButtonsBox{
  padding: 20px 20px;
}

.othelloButtonsBox button{
  width: 90%;
  font-size: 1.5rem;
  background-color: rgba(66, 76, 85, 0.65);
  border-radius: 20px;
}

.othelloButtonsBox button:hover{
  background-color: rgba(249, 249, 250, 0.65);
}


#gameboard{
  width: 448px;
  background-color: rgba(66, 76, 85, 0.80);;
  border: 5px solid ;
  border-color: #2596be;
  border-radius: 10px;
  padding:3px;
}


.row {
  display: flex;
  flex-wrap: row;
  width: 445px;

}

.column img {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 85%;
  
  background-color: #28b44c;
}

.column button {
  appearance: none;
  background-color: #28b44c;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 3px;
  
  
  width: 50px;
  height: 50px;
  margin:3px;
  
}


.column button:hover {
  background-color: #2c974b;
}




.difficultyRadioButtons {
  text-align: center;
  padding-bottom:10px;
  font-size: 20px;
}
